@import url("https://unpkg.com/mvp.css");

html,
body {
  padding: 0;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ff5050;
}

a {
  color: #ff5050;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section aside {
  background-color: #ffcc99;
  width: 285px;
  height: 305px;
}
section aside:hover {
  box-shadow: 5px 5px 10px #ffff00;
}
.cocktailWrapper {
  margin: 0 auto;
  align-items: center;
}
h2 {
  text-align: center;
  color: #ff5050;
}
.imgWrapper {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

section aside.detailAside {
  width: 285px;
  height: auto;
}
section aside.detailAside:hover {
  box-shadow: 5px 5px 10px #eaeaea;
}
.imgWrapperDetail {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
p {
  font-weight: bold;
}
p span {
  font-weight: normal;
}
